@{
    Layout = null;
    ViewBag.Title = "Main Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/style")
</head>
<body>
    <div class="section title">
        <div class="container title">
            <a href=@Url.Action("Index")><h1>Gamers Space</h1></a>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <form id="navigation" class="navigation">
                        <input type="text" id="inputText" name="inputValue" placeholder="Id" />
                        <input type="submit" class="btn button-primary" name="FindGame" value="Buscar Juego" formmethod="post" formaction=@Url.Action("GameInfo") />
                        <input type="submit" class="btn button-primary" name="ModifyGame" value="Modificar Juego" formmethod="post" formaction=@Url.Action("ModifyGame") />
                        <input type="submit" class="btn button-primary" name="ShowGames" value="Lista de Juegos" formmethod="get" formaction=@Url.Action("GameList") />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" value=@TempData["state"] id="stateValue" />
    <p id="paragraph"></p>
    <script>
        // Execute the function onload page
        window.onload = function () {
            CustomMessage()
        }

        // Insert a custom message
        function CustomMessage() {
            state = document.getElementById("stateValue").value
            paragraph = document.getElementById("paragraph")
            var message
            if (state == "changeSucces") {
                paragraph.className = "success"
                message = document.createTextNode("Se modifico el juego de manera correcta.")
            }
            else {
                paragraph.className = "failed"
                if (state == "noNumber") {
                    message = document.createTextNode("Por favor ingrese un numero en el campo de ID.")
                } else if (state == "incorrectID") {
                    message = document.createTextNode("No se encontro ningun juego con el ID ingresado.")
                } else if (state == "changeFailed") {
                    message = document.createTextNode("Ocurrio un error al tratar de realizar la modificacion.")
                }
            }
            paragraph.appendChild(message)
        }
    </script>
</body>
</html>
