/** Navigation menu **/
header {
    background-color: #86ba90;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

header h5 {
    color: #1e1e24;
    padding: 15px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 60px;
    padding-top: 23px;
    position: relative;
}

nav a {
    color: #1e1e24;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #272727;
}

nav a::before {
    background-color: #1e1e24;
    content: '';
    display: block;
    height: 5px;
    position: absolute;
    top: 0;
    transition: all ease-in-out 250ms;
    width: 0%;
}

nav a:hover::before {
    width: 100%;
}

/** Buttons **/
.btn {
    background-color: #20639b !important;
    border-color: #20639b !important;
    border-radius: 125px !important;
    color: #eaedef !important;
}

.btn:hover {
    background-color: #173f5f !important;
    border-color: #173f5f !important;
    border-radius: 125px !important;
    color: #eaedef !important;
}

