.section{
    padding: 1rem 0 1rem;
}

.title {
    background-color: #20639b;
    padding: 10px 0px 10px;
    text-align: center;
}

.title h1 {
    color: #eaedef;
    font-weight: bold;
}

.title a:link, a:visited {
    color: #eaedef;
    text-decoration: none
}

.btn {
    background-color: #20639b !important;
    border-color: #20639b !important;
    border-radius: 125px !important;
    color: #eaedef !important;
}

.btn:hover {
    background-color: #173f5f !important;
    border-color: #173f5f !important;
    border-radius: 125px !important;
    color: #eaedef !important;
}

.div {
    display: block;
    text-align: center;
}

.center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.success {
    background-color: #00c851;
    border-color: #007e33;
    color: #eaedef;
    padding: 9px;
}

.failed {
    background-color: #ff4444;
    border-color: #cc0000;
    color: #eaedef;
    padding: 9px;
}
