/** Navigation menu **/
header {
    background-color: #86ba90;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

header h5 {
    color: #1e1e24;
    padding: 15px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 60px;
    padding-top: 23px;
    position: relative;
}

nav a {
    color: #1e1e24;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #272727;
}

nav a::before {
    background-color: #272727;
    content: '';
    display: block;
    height: 5px;
    position: absolute;
    top: 0;
    transition: all ease-in-out 250ms;
    width: 0%;
}

nav a:hover::before {
    width: 100%;
}

/** TextBox **/
.textbox {
    display: block;
}

.textbox:focus {
    border-color: #86ba90 !important;
}

/** Buttons **/
.btn {
    background-color: #86ba90 !important;
    border-color: #86ba90 !important;
    border-radius: 125px !important;
    color: #1e1e24 !important;
}

.btn:hover {
    background-color: #5d9a69 !important;
    border-color: #5d9a69 !important;
    border-radius: 125px !important;
    color: #272727 !important;
}

/** Forms **/
.center {
    display: block;
    text-align: center;
}

.form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/** Alert message **/
.failed {
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
    padding: 20px;
}

.success {
    background-color: #00c851;
    color: white;
    margin-bottom: 15px;
    padding: 20px;
}

.closebtn {
    color: white;
    cursor: pointer;
    float: right;
    font-size: 22px;
    font-weight: bold;
    line-height: 20px;
    margin-left: 15px;
    transition: 03s;
}

.closebtn:hover {
    color: black;
}

/** Numbers **/
input[type="number"] {
    width: 214px;
}
