@{
    ViewBag.Title = "ArrivalControl";
    Layout = "~/Views/Partials/Layout.cshtml";
}

<input type="hidden" id="state" value=@TempData["state"] />
<div id="alertBox">
    <span class="closebtn" onclick="this.parentElement.style.display = 'none';">&times;</span>
    <p id="message"></p>
</div>
<center><h5 style="padding: 25px">Control de llegadas</h5></center>
<div class="twelve columns center">
    <form class="form" id="employees" action=@Url.Action("ArrivalControl") method="post">
        <input type="text" class="textbox" name="name" placeholder="Nombre - Texto" required />
        <input type="text" class="textbox" name="id" pattern="[0-9]" placeholder="Codigo - Numeros" required />
        <p class="u-pull-left">Hora de entrada: </p>
        <input type="time" name="time" class="u-pull-right" />
        <br />
        <input type="submit" class="button-primary btn" name="Enter" value="Ingresar" />
    </form>
</div>
