@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Partials/Layout.cshtml";
}

<center><h3>Ingresar Empleado</h3></center>
<form class="center" id="employees" >
    <input type="text" class="textbox" name="name" placeholder="Nombre" />
    <input type="text" class="textbox" name="id" placeholder="Codigo" />
    <input type="submit" class="button-primary btn" name="Create" value="Crear" />
</form>
