@{
    ViewBag.Title = "VisitsSimulation";
    Layout = "~/Views/Partials/Layout.cshtml";
}

<center><h5 style="padding: 25px">Control de llegadas</h5></center>
<div class="twelve columns center">
    <input type="submit" class="button-primary btn" name="simulate" value="Simular Salida" />
</div>
