@{
    ViewBag.BodyClass = "SearchSticker";
    ViewBag.Title = "Buscar Calcomanias";
    Layout = "~/Views/Layout.cshtml";
}
<div class="content" style="padding-top: 25px">
    <h1 class="title has-text-centered">Buscar Calcomanias</h1>
</div>
<div class="container">
    <div class="field has-addons">
        <div class="control is-expanded">
            <input id="searchbox" class="input" type="text" name="searchbox" placeholder="¿Que buscas?" />
        </div>
        <div class="control">
            <button class="button is-info">
                <span class="icon">
                    <i class="fas fa-search"></i>
                </span>
                <span>Buscar</span>
            </button>
        </div>
    </div>
</div>
