@{
    ViewBag.BodyClass = "InventoryLoad";
    ViewBag.Title = "Carga de inventario";
    Layout = "~/Views/Partials/Layout.cshtml";
}

<input type="hidden" id="empty" value="@ViewBag.Empty" />
<div class="twelve columns center" style="padding: 25px">
    <form class="form" id="form" action=@Url.Action("InventoryLoad") method="post">
    </form>
</div>
