@{
    ViewBag.BodyClass = "SearchOrder";
    ViewBag.Title = "Buscar Pedidos";
    Layout = "~/Views/Partials/Layout.cshtml";
}

<h2 class="title">Buscar Pedidos</h2>

@if (TempData["state"].Equals("empty")) {
    <h6 class="title" style="padding: 25px">Lo siente. Primero debes de haber realizado alguna compra.</h6>
} else {
    <div class="container center">
        <form class="form-complete" id="form" action=@Url.Action("SearchOrder") method="post">
            <div class="searchBox">
                <input type="text" class="searchInput" id="searchInput" name="search" placeholder="¿Que buscas?" />
                <div class="searchButton">
                    <button type="submit" class="btnSearch">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    if (TempData["state"].Equals("searched")) {
        if (ViewBag.Orders.Count > 0) {
            <ul id="orders" class="orderList">
                @foreach (var order in ViewBag.orders) {
                    <li id="order" class="order">
                        <span>@order.guid</span>
                        <span> - </span>
                        <span>Click to see more information</span>
                    </li>
                }
            </ul>
            <div class="ordersInfo" id="ordersInfo">
                <div class="info">
                    <div class="boxHeader">
                        <span class="closebtn closeInfo" id="closeInfo">&times;</span>
                    </div>
                    <div class="boxBody">
                        <p id="name"></p>
                        <p id="address"></p>
                        <p id="nit"></p>
                    </div>
                    <div class="boxFooter">
                        <button type="submit" class="button-primary btn" id="download">Descargar Pedido</button>
                    </div>
                </div>
            </div>
        } else {
            <div class="center">
                <i class="far fa-sad-tear" style="font-size: 200px"></i>
                <h5>Lo siento, no encontramos ningun resulatdo.</h5>
            </div>
        }
    }
}

